@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-black dark:bg-black dark:text-white transition-colors duration-1000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.center {
  @apply justify-center items-center;
}

.about p {
  @apply text-[21px] text-black dark:text-white font-normal leading-7 col-span-10 max-w-[720px];
}

.about ul {
  @apply text-[21px] text-black dark:text-white font-normal leading-7 col-span-10 list-disc;
}

.about li {
  @apply pt-1;
}

.paragraph-title {
  @apply text-base font-normal dark:text-white text-black uppercase leading-tight tracking-wide col-start-2 col-end-10 pt-8;
}

.about h2 {
  @apply dark:text-black cloud-shadow-white text-[21px] font-normal leading-normal;
}

.cloud-shadow-white {
  text-shadow:
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white;
}