@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .cloud-shadow-white {
    text-shadow:
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white;
  }
}

@layer utilities {
  .dark .cloud-shadow-white {
    text-shadow:
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --screen-wdith: 375px;
  --screen-heigth: 600px;
}

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}

body {
  scrollbar-width: none !important;
  @apply bg-white text-black dark:bg-black dark:text-white transition-colors duration-200;
}

body::-webkit-scrollbar {
  -ms-overflow-style: none !important;  /* IE and Edge */
  display: none !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.center {
  @apply justify-center items-center;
}

.about p {
  @apply text-base md:text-[21px] text-black dark:text-white font-normal leading-7 col-span-10 max-w-[720px];
}

.about ul {
  @apply text-[21px] text-black dark:text-white font-normal leading-7 col-span-10 list-disc;
}

.about li {
  @apply pt-1;
}

.paragraph-title {
  @apply text-base font-normal dark:text-white text-black uppercase leading-tight tracking-wide col-start-2 col-end-10 pt-8;
}

.about h2 {
  @apply text-white cloud-shadow-black dark:cloud-shadow-white dark:text-black text-[21px] font-normal leading-normal;
}

.cloud-shadow-white {
  text-shadow:
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white;
}

.cloud-shadow-black {
  text-shadow:
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px black,
    0px 0px 12px white;
}

.gridParent {
  @apply grid grid-cols-6 md:grid-cols-12 lg:grid-cols-24 px-5;
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Firefox < 16 */
@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Internet Explorer */
@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Opera < 12.1 */
@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

a {
  @apply hover:opacity-80;
}

.about a {
  @apply underline;
}
