@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-black dark:bg-black dark:text-white transition-colors duration-1000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.center {
  @apply justify-center items-center;
}

.about p {
  @apply text-[21px] text-white dark:text-black font-normal leading-7 cloud-shadow-white;
}

.paragraph-title {
  @apply text-xs font-normal uppercase leading-tight tracking-wide;
}

.cloud-shadow-white {
  text-shadow:
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white,
    0px 0px 12px white;
}